name: Lint Go Code

on:
  push:
    paths:
      - '**/*.go'
  pull_request:
    paths:
      - '**/*.go'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - run: |
          go mod tidy
          go mod download
      - run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.60.1
      - run: $(go env GOPATH)/bin/golangci-lint run ./... --timeout=5m
        working-directory: ${{ github.workspace }}
